/* make the icon in the dashboard bigger */
.dashboard-icon{
    font-size: 3.5rem;
}
.edit-icon{
    font-size: 7em;
}
.dashboard-photo{
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}
.edit-photo{
    width: 7rem;
    height: 7rem;
    object-fit: cover;
}
